*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
@font-face {
    font-family: 'Montserrat';
    src: url('https://fonts.google.com/specimen/Montserrat');

    font-family: 'Frances';
    src: url('ttps://fonts.google.com/specimen/Fraunces');
    font-weight: 700;  
}
:root{
    --dark-cyan: hsl(158, 36%, 37%);
    --ream: hsl(30, 38%, 92%);
    --dark-blue: hsl(212, 21%, 14%);
    --dark-grayish-blue: hsl(228, 12%, 48%);
    --white: hsl(0, 0%, 100%);   
}
body
{
    font-family: 'Montserrat' sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height:100vh;
    background-color: var(--ream);
}
.container
{
    width: 600px;
    display: flex;
    background-color: var(--white);
    border-radius:10px;
}
.container  img 
{
    overflow: hidden;
    object-fit: fit;
    border-radius:10px 0 0 10px;
}
.perfume
{
    padding: 15px 45px;
    width: 100%;
}
.container .perfume h6
{
    font-family: 'Frances';
    letter-spacing: 5px;
}
.container .p-col
{
    margin:1rem 0;
    color: var(--dark-grayish-blue);
}
.container .perfume h1
{
    color: var(--dark-blue);
    font-size:40px;
    line-height: 2.5rem;
}
.container .perfume p
{
    line-height: 1.5rem;
    font-size: 14px;
}
.container .perfume div
{
    display: flex;
    justify-content:flex-start;
    align-items: center;
    gap: 1rem; 
}
.container .perfume div .green-fig
{
    color: var(--dark-cyan);
    font-size: 35px;
    font-weight: bold;   
}
.container .perfume div span
{
    font-weight: bold;
    color: var(--dark-grayish-blue);
}
button
{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.5rem;
    width:100%;
    border: none;
    background-color: var(--dark-cyan);
    padding:0.5rem 2rem;
    border-radius:10px;
    color: var(--white);
    margin: 1.5rem 0;
}
button:hover
{
    background-color:hsl(158, 38%, 19%);
}
@media (max-width:650px) {
    body{
        height: auto;
        padding:2em 1em;
    }
    .container{
        flex-direction:column; 
        width:100%;
    }
    .container .image {
        content: url('images/image-product-mobile.jpg');
    }
}
